:root{

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid pink; */
    /* font-family: Arial, Helvetica, sans-serif; */
    list-style-type: none;
    /* white-space: nowrap; */

}
svg{
    cursor: pointer;
}

/* body{
    background-color: rgba(75, 75, 151, 0.062);
} */
.login-sign-cont{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #3e0458 74%);
    background-image: url(../../Images/bg3.jpg);
    background-size: cover;
}
.quotes-cont{
    animation: slideRight 700ms ease-in-out forwards ;
    position: absolute;
    left: 100px;
    top: 100px;
    color: white;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.company-info{
    font-size: 70px;
    text-align: left;
    color: #ffffff;
    font-weight: 600;
    /* padding: 100px 0px 0px 0px; */
    
}
.welcome-text{
    font-size: 55px;
    text-align: left;
    margin-bottom: 100px;
}
.quote-text{
    font-style: italic;
    padding: 100px 50px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
}

.login-cont{
    animation: slideLeft 700ms ease-in-out forwards ;
    position: absolute;
    bottom: 120px;
    right: 200px;
    width: 100%;
    max-width: 224px;
}

input:focus{
    outline: none;
}
.login-cont form div{
    display: flex;
    align-items: center;
    width: 100%;
}
.login-cont form input{
    width: 100%;
    padding: 8px 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background-color: transparent;
    color: white;
}

.login-cont button{
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid white;
    color: transparent;
    margin-top: 13px;
    background-color: white;
    color: #3e0458;
    font-weight: 700;
    padding: 5px 2px;
}


.login-cont form input::placeholder{
    color: white;
    font-weight: 400;
}
.login-cont form div{
   margin: 10px 0px;
}
form .login-sign-title{
    margin-bottom: 10px;
    font-size: 38px;
    color: white;
    /* border-bottom: 2px solid  white; */
    padding: 8px 0px;
}

.input-cont{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.sm-white,sm-white>div{
    color: white;
    text-align: center;
    font-size:13px;
    display: flex;
    justify-content: center;
}
.sm-white a{
    color: white;
    padding-left: 6px;
}

.ContactComp{
    position: absolute;
    left: 0px;
    height: 100%;
    display: flex;
}
.ContactComp svg{
    fill: white;
    height: 50px;
    width:50px;
}

.ContactComp > :first-child{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 30px;
    padding: 0px 10px 0px 5px;
    height: 100%;
}
.social-border{
    height: 460px;
    margin: auto;
    border-right: 1px solid white;

}

.login-cont svg{
    fill: white;
    height: 45px;
    width: 45px;
}
/* .linkdn:hover{
    box-shadow: 1px 5px 1px;
}
.insta:hover{
    fill: #D82977
}
.fb:hover{
    fill: #395498;
} */

.top-nav-bar{
    background-image: linear-gradient(326deg, #5F19B4 0%, #5f0a87 74%);
    padding: 10px 50px;
    position: absolute;
    width: 100%;
    color: white;
    top: 0px;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-company-info{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 10px;
}
.nav-contents{
    display: flex;
    align-items: center;
    gap: 50px;

}

.sign-cont{
    position: static;
    width: 100%;
    max-width: 224px;
    margin-top: 100px;

}
label{
    color: white;
}
.login-cont span input{
    width: 20px;
    margin: 0px 3px;
}
/* 
.dashboard{
    position: absolute;
} */

.dashmenu{
    background-color: #3e0458;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0px 14px 0px 8px;
    z-index: 99;
    background: rgb(5,144,255);
background: linear-gradient(180deg, rgba(5,144,255,1) 21%, rgba(207,51,221,1) 75%);
}
.dashmenu div div{
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.dashmenu svg{
    height: 40px;
    width: 40px;
    color: rgba(255, 255, 255, 0.603);
}
.dashmenu svg:hover{
    color: rgba(255, 255, 255);
}

.dashmenu .profile{
    margin-right: -5px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
.addbtn{
    position: relative;
}
.addbtn::hover .MenuFloatBtn{
    display: block;
}

.MenuFloatBtn{
    /* text-align: left; */
    position: absolute;
    left: 80px;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    /* background-color: aquamarine; */
}

.MenuFloatBtn ul li{
    /* margin: 20px 0px; */
    background-color: #1289FC;
    padding: 6px 8px;
    border-radius: 10px;
}

.MenuFloatBtn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 5px;
}
.white-blk{
    background-color: white;
    margin: 10px 80px 10px 120px;
    padding: 24px 3%;
    border-radius: 12px;   
    /* border: 1px solid #3e0458; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-display{
    /* background-color: white; */
    /* margin: 0px 80px; */
    /* padding: 50px  10% ; */
    text-align: left;

}


.project-display > div{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 30px 0px;
    gap: 10px;
}
.label
{
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    width: 160px;
    margin: 5px 0px;
}
.project-display input{
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    /* background-color: rgb(62,4,88,.1); */
    border: 1px solid #CCCCCC;

}
textarea{
    height: 80px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    /* background-color: rgb(62,4,88,.1); */
    border: 1px solid #CCCCCC;

}

/* .dates div{
    margin: 10px 0px;
} */
 h1{
    font-size: 50px;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
    text-align: left;
}
.react-select-container{
    flex-grow: 2;

}
.simple-btn{
    padding: 8px 8px;
    color: white;
    background-color: #3e0458;
    border: none;
    border-radius: 5px;
    font-weight: 500;

}
.simple-btn-white{
    padding: 8px 8px;
    color: #3e0458;
    background-color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid #3e0458;
    width: 60px;
    margin: 0px 20px;
}
.delete-modal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.displayteam{
    display: block !important;
    background-color: rgba(249, 74, 255, 0.171);

}
.displayteam > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 17px;
    gap: 1px;

}
.displayteam > div > div{
    display: grid;
    grid-template-columns: 100px 400px 1fr;
}
/* .displayteam .teamlabel{
    font-size: 12px;
    font-size: 600;
    color: gray;
} */
.create-edit-proj{
    display: flex;
    justify-content:flex-end;
}
.create-edit-proj button{
    padding: 5px 10px;
    margin: 0px 10px;
}
.create-edit-proj .reset-btn{
    background-color: white;
    color: #3e0458;
    border: 1px solid #3e0458;
}

.addemployee input{
    width: 100%;
    max-width: 260px;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: rgb(62,4,88,.1);
    font-size: 17px;
}

.form-flex > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    max-width: 500px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 17px;
    margin: 15px 0px;
}
.addemployee input[type=checkbox]{
    width: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.projects-list{
    background-color: rgba(249, 74, 255, 0.171);
    display: flex;
    flex-flow: column;
    gap: 1px;
    font-size: 15px;
    font-weight: 600;

}
.projects-list > div{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: #fef4ff;
    position: relative;
    padding: 13px 0px;
    /* border: 1px solid purple */
}
.list-btn svg{
    height: 20px;
    width: 20px;
}
.list-btn{
    display: flex;
    gap: 25px;
    position: absolute;
    right: 30px;
    top: 25%;
    bottom: 25%;
}
.MenuFloatBtn ul{
    animation: growRight 100ms ease-in-out forwards ;
    display: flex;
    flex-flow: column;
}

@keyframes growRight {
    0% {
        transform: translateX(-30%);
        gap: 0px;
    }

    100% {
        transform: translateX(0%);
        gap: 20px;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(5%);
        opacity: 0.2;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(-5%);
        opacity: 0.2;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
.alert-green{
    background-color: rgb(51, 235, 51);
    border-radius: 5px;
    padding: 2px 8px;
    color: white;
    margin: 0px 42px;

}
.alert-yellow{
    background-color: #f5f500;
    border-radius: 5px;
    padding: 2px 8px;
    color: white;
    margin: 0px 42px;

}
.alert-red{
    background-color: red;
    border-radius: 5px;
    padding: 2px 8px;
    color: white;
    margin: 0px 42px;


}
.alert-gray{
    background-color: gray;
    border-radius: 5px;
    padding: 2px 8px;
    color: white;
    margin: 0px 42px;

}
.form-box{
    display: grid;
    grid-template-columns: 200px 300px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.form-box .label{
    font-weight: 500;
    font-size: 17px;
    color: gray;
}
.form-box {
    font-size: 19px !important;
    color: #3e0458;
    font-weight: 500;
}
.modal-div{
    margin: 0px auto;
}
.list-head{
    font-size: 18px;
    background-color: #3d04581f !important;
}
.project-number-cont{
    display: flex;
    gap: 50px;
}
.project-numbers{
    font-size: 20px;
    font-weight: 600;
}
.project-count{
    font-size: 100px;
}
select{
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}
.modal-top-txt{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    font-size: 21px;
    font-weight: 500;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .myprofile svg{
    height: 170px;
    width: 170px;
    font-weight: 100
  }
  .myprofile > div{
    border-bottom: 2px solid #cbcbc3;
    padding: 23px 90px;
    margin: 0px 150px;
  }
  .profile-label{
    margin-bottom: -10px;
    font-weight: 500;
    color: gray;
  }
  .profile-details{
    font-size: 20px;
    margin: 7px 0px;
    font-weight: 500;
  }
  .myprofile{
    display: flex;
    flex-flow: column;
  }

  .input-simple{
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: rgb(62,4,88,.1);
    margin: 0px auto;
    width: 200px;
  }
  .MenuFloatBtn ul li{
    cursor: pointer;
  }

  .err-alert div{
    color: red;
    margin: 10px 0px;
  }

  .err-alert-white{
    color: white;
    margin: 5px 0px;
    font-size: 13px;
  }

/******************  #7941da  **************************** Media query ****************************** */

@media screen and (max-width:1200px)  {

    .quotes-cont{
        left: 80px;  
    }
    .welcome-text{
        font-size: 50px;
    }
    .company-info{
        font-size: 60px;
    }
    .login-cont{
        right: 80px;
    }

    .company-info-mb{
        color: white;
        font-size: 30px;
        font-weight: 500;
    }
}
.reqs-list{
    background-color: rgba(128, 128, 128, 0.151);
    display: flex;
    flex-flow: column;
    gap: 2px;
    margin-top: 20px;
    font-weight: 500;
}
.reqs-list button{
    background-color: #3e0458;
    color: white;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 5px;
}
.reqs-list > div{
    background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 60px;

}
.show-proj{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

@media screen and (max-width:1008px)  {

    .quotes-cont{
        display: none;
    }
    .social-borde,.ContactComp{
        display: none;
    }
    .login-cont{
        margin: 0px;
        position: static;
        background-color: rgb(116, 37, 92,.5);
        -webkit-backdrop-filter: blur(10px);
        padding: 30px 20px;
        border-radius: 20px;
    }
  
    .login-sign-cont{
        justify-content: center;
        align-items: center;
    }

    .company-info-mb{
        color: white;
        font-size: 30px;
        font-weight: 500;
    }

    .login-cont{
        position:static;
        width: 100%;
    max-width: 254px;
       
    }
}


@media screen and (max-width:700px)  {
    .dashmenu{
        display: none;
    }
 .login-sign-cont{
 }
 .nav-contents{
    display: none;
 }
 .login-cont{
    width: 100%;
    max-width: 254px;
    margin: auto;
 }
}